/* =============== GOOGLE FONTS =============== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Raleway:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Josefin+Sans:wght@400;500;600&family=Modak&family=Poppins:wght@400;500;600&family=Reem+Kufi:wght@400;500;600&family=Sirin+Stencil&family=Train+One&family=ZCOOL+KuaiLe&display=swap");

/* =============== CUSTOM PROPERTIES =============== */
/* ---------- Variables CSS ---------- */
:root {
  --header-height: 3rem;

  /* ---------- COLORS ---------- */
  --hue-color: 220;
  --input-color: hsl(var(--hue-color), 70%, 92%);
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --first-title-color: hsl(var(--hue-color), 8%, 95%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --title-color: hsl(var(--hue-color), 8%, 15%);

  --black-alpha-color: rgba(51, 51, 51, 0.5);
  --body-color: #f3f3f3;
  --container-color: #e5e5e4;

  /* ---------- FONT Y TIPOGRAFÍA ---------- */
  --body-font: "Poppins", sans-serif;
  --logo-font: "Train One", cursive;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* ---------- FONT WEIGHT ---------- */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* ---------- MARGENES BOTTOM ---------- */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* ---------- Z-INDEX ---------- */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* ----- MEDIA QUERY / 968px Font size for Large Devices ----- */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* ---------- Variables Dark Theme ---------- */
body.dark-theme {
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 22%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --first-title-color: hsl(var(--hue-color), 8%, 95%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/* ---------- Button Dark Theme ---------- */
.change-theme {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-theme:hover {
  color: var(--first-color);
}

.nav__btns {
  display: flex;
  align-items: center;
}

/* =============== BASE / Reset HTML =============== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  width: 100vw;
  height: 100vh;
  /* Solución sobrante scroll horizontal en responsive. */
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/* =============== REUSABLE CSS CLASSES =============== */
.section {
  padding: 2rem 0 4rem;
}

.section__subtitle,
.section__title {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-3);
  border-top: 2px solid var(--first-color);
  border-bottom: 2px solid var(--first-color);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  width: 300px;
}

/* ---------- EFECTO WAVE ENTRE SECCIONES ---------- */
.wave {
  background-color: var(--container-color);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.wave-one {
  background-color: var(--body-color);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

/* ---------- ANIMACIONES ---------- */
.subtitle > h3 {
  animation: step-end animat 5.8s;
}

@keyframes animat {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.home__data > a {
  animation: step-end animak 6.5s;
}

@keyframes animak {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* =============== LAYOUT =============== */
.container {
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}
/* =============== -NAV- =============== */
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link,
.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav__link:hover,
.nav__logo:hover {
  color: var(--first-color);
}

.nav__logo {
  font-family: var(--logo-font);
  font-size: 20px;
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--first-color);
}

/* ---------- MEDIA QUERY / 767px ---------- */
@media screen and (max-width: 767px) {
  .nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
  }
  .nav__close:hover {
    color: var(--first-color-alt);
  }
  .nav__icon {
    font-size: 1.2rem;
  }
  .nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
  }
  .nav__link:hover {
    color: var(--first-color);
  }
  .nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

/* ---------- SHOW MENU ---------- */
.show-menu {
  bottom: 0;
}

/* ---------- ACTIVE LINK ---------- */
.active-link {
  color: var(--first-color);
}

/* ---------- CHANGE BACKGROUND HEADER ---------- */
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/* =============== HOME =============== */
.home__image {
  margin: auto;
  margin-top: -35px;
  background-image: var(--home-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--attachment);
}

.home__image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--home-opacity-color);
}

.home__container {
  gap: 1rem;
}

.home__content {
  grid-template-columns: 0.5fr 2fr;
  padding-top: 1.5rem;
  align-items: center;
  margin-left: -100px;
}

.home__data {
  grid-column: 1/3;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: 1rem;
}

.home__social-icon:hover {
  color: var(--first-color-alt);
}

.home__subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
  margin-top: 20px;
}

.home__title {
  font-size: 60px;
  text-align: left;
  color: var(--body-color);
}

/* =============== BUTTONS =============== */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
  text-align: left;
  text-decoration: none;
  margin: 0;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button--small {
  padding: 0.5rem 0.75rem;
}

/* =============== ABOUT =============== */
.about__buttons {
  display: flex;
  justify-content: center;
}

.about__description {
  text-align: justify;
  margin-bottom: var(--mb-1-5);
}

.about__image {
  width: 230px;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
  filter: grayscale(1);
}

.about__image:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
}

/* =============== SKILLS =============== */
.skills {
  background-color: var(--container-color);
}

.skills__arrow {
  margin-left: auto;
  transition: 0.4s;
}

.skills__bar {
  background-color: var(--first-color-lighter);
}

.skills__bar,
.skills__percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__container {
  row-gap: 0;
  margin-bottom: -3rem;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills__icon,
.skills__arrow {
  font-size: 2rem;
  color: var(--first-color);
}

.skills__icon {
  margin-right: var(--mb-0-75);
}

.skills__list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

.skills__open .skills__list {
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills__percentage {
  display: block;
  background-color: var(--first-color);
}

.skills__titles {
  display: flex;
  font-size: var(--h3-font-size);
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

/* Habilidades */
.skills__html {
  width: 40%;
}

.skills__css {
  width: 40%;
}

.skills__js {
  width: 30%;
}

.skills__fluid {
  width: 40%;
}

.skills__codesys {
  width: 40%;
}

.skills__matlab {
  width: 15%;
}

.skills__simatic {
  width: 30%;
}

/* =============== QUALIFICATION =============== */
.qualification__button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification__button:hover {
  color: var(--first-color);
}

.qualification__calendar {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification [data-content] {
  display: none;
}

.qualification__active[data-content] {
  display: block;
}

.qualification__button.qualification__active {
  color: var(--first-color);
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.qualification__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}

.qualification__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

/* =============== PORTFOLIO =============== */
.portfolio {
  background-color: var(--container-color);
}

.portfolio__button:hover .button__icon {
  transform: translateX(0.25rem);
}

.portfolio__container {
  overflow: initial;
}

.portfolio__content {
  padding: 0 1.5rem;
}

.portfolio__description {
  margin-bottom: var(--mb-0-75);
}

.portfolio__img {
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
}

.portfolio__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-portfolio-icon {
  font-size: 2rem;
  color: var(--first-color);
}

.swiper-button-next {
  right: -0.5rem;
}

.swiper-button-prev {
  left: -0.5rem;
}

.swiper-container {
  margin-bottom: 3rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -4rem;
}

.swiper-pagination-bullet {
  background-color: #8554e2;
}

.swiper-pagination-bullet-active {
  background-color: var(--first-color);
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullet {
  outline: none;
}

/* =============== CONTACT ME =============== */
.contact__container {
  row-gap: 3rem;
}

.contact__content {
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.contact__form textarea {
  resize: none;
}

.contact__icon {
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact__information {
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact__input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

.contact__label {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.contact__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.none {
  display: none;
}

.sinborde {
  border: 0;
}

.text__center {
  text-align: center;
}

/* ---------- MODAL CONTACT ME ---------- */
.contact__form input[type="submit"] {
  cursor: pointer;
}

.contact__form-response {
  padding: 0.5rem;
  width: 300px;
  text-align: center;
  background-color: #f3f3f3;
  border-radius: 5%;
}

.contact__form-response > h3 {
  color: var(--first-color-second);
}

.contact__form-response svg {
  margin-top: 1rem;
  width: 4rem;
  height: 4rem;
  fill: var(--first-color-second);
}

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.75);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal__content {
  position: relative;
}

.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}

/* =============== FOOTER =============== */
.footer {
  padding-top: 2rem;
}

.footer__bg {
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer__container {
  row-gap: 3.5rem;
  margin-bottom: -2rem;
}

.footer__copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: rgba(238, 230, 230, 1);
  margin-top: var(--mb-3);
  margin-bottom: -1.5rem;
}

.footer__social {
  font-size: 1.5rem;
  margin-right: var(--mb-1-5);
}

.footer__social:hover {
  color: var(--first-color-lighter);
}

.footer__socials {
  margin-top: -1.5rem;
  margin-bottom: 1rem;
  margin-right: -1.5rem;
}

.footer__subtitle {
  font-size: var(--small-font-size);
}

.footer__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__social,
.footer__subtitle,
.footer__title {
  color: #fff;
}

/* =============== SCROLL UP =============== */
.scrollup {
  position: fixed;
  right: 2rem;
  /* Se oculta el botón de la flecha. */
  bottom: -20%;
  background-color: var(--first-color);
  opacity: 0.7;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
}

.scrollup__icon {
  font-size: 1.5rem;
  color: #fff;
}

/* ---------- Show Scroll ---------- */
.show-scroll {
  bottom: 4rem;
}

/* =============== SCROLL BAR =============== */
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/* =============== MEDIA QUERIES =============== */
/* ---------- FOR SMALL DEVICES 350px ---------- */
@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .section__title {
    width: 250px;
    margin-bottom: 4rem;
  }

  .nav__list {
    column-gap: 0;
  }
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }

  .home__content {
    margin-top: -4rem;
    display: inline;
    text-align: center;
  }
  .home__data {
    margin-top: 0;
  }
  .home__subtitle {
    font-size: 6px;
    margin: auto;
    text-align: left;
    color: var(--text-color-light);
  }

  .subtitle {
    margin-top: 10px;
    margin-left: 155px;
  }

  .button-one {
    margin-left: -95px;
    margin-top: 20px;
    padding: 10px;
    font-size: 12px;
  }

  .console__container {
    font-family: var(--body-font);
    font-size: 20px;
    font-weight: var(--font-semi-bold);
    text-align: left;
    margin-left: 155px;
    width: 100vw;
  }

  .about__description {
    margin-left: -8px;
    font-size: var(--smaller-font-size);
  }
  .about__image {
    width: 180px;
    display: flex;
    margin: auto;
  }

  .skills__title {
    font-size: var(--normal-font-size);
  }

  .qualification__data {
    gap: 0.5rem;
  }

  .contact__content {
    margin-left: -8px;
  }
  .sinborde {
    margin-left: -8px;
  }
}

/* Exceso de MediaQueries hasta resolver el problema del botón. */
/* ---------- FOR SMALL DEVICES 351px ---------- */
@media screen and (min-width: 351px) and (max-width: 370px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .section__title {
    width: 250px;
    margin-bottom: 4rem;
  }

  .nav__list {
    column-gap: 0;
  }
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }

  .home__content {
    margin-top: -4rem;
    display: inline;
    text-align: center;
  }
  .home__data {
    margin-top: 0;
  }
  .home__subtitle {
    font-size: 6px;
    margin: auto;
    text-align: left;
    color: var(--text-color-light);
  }

  .subtitle {
    margin-top: 10px;
    margin-left: 155px;
  }

  .button-one {
    margin-left: -110px;
    margin-top: 20px;
    padding: 10px;
    font-size: 12px;
  }

  .console__container {
    font-family: var(--body-font);
    font-size: 20px;
    font-weight: var(--font-semi-bold);
    text-align: left;
    margin-left: 155px;
    width: 100vw;
  }

  .about__description {
    margin-left: -8px;
    font-size: var(--smaller-font-size);
  }
  .about__image {
    width: 180px;
    display: flex;
    margin: auto;
  }

  .skills__title {
    font-size: var(--normal-font-size);
  }

  .qualification__data {
    gap: 0.5rem;
  }

  .contact__content {
    margin-left: -8px;
  }
  .sinborde {
    margin-left: -8px;
  }
}

/* ---------- FOR SMALL DEVICES 371px ---------- */
@media screen and (min-width: 371px) and (max-width: 390px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .section__title {
    width: 250px;
    margin-bottom: 4rem;
  }

  .nav__list {
    column-gap: 0;
  }
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }

  .home__content {
    margin-top: -4rem;
    display: inline;
    text-align: center;
  }
  .home__data {
    margin-top: 0;
  }
  .home__subtitle {
    font-size: 6px;
    margin: auto;
    text-align: left;
    color: var(--text-color-light);
  }

  .subtitle {
    margin-top: 10px;
    margin-left: 155px;
  }

  .button-one {
    margin-left: -130px;
    margin-top: 20px;
    padding: 10px;
    font-size: 12px;
  }

  .console__container {
    font-family: var(--body-font);
    font-size: 20px;
    font-weight: var(--font-semi-bold);
    text-align: left;
    margin-left: 155px;
    width: 100vw;
  }

  .about__description {
    margin-left: -8px;
    font-size: var(--smaller-font-size);
  }
  .about__image {
    width: 180px;
    display: flex;
    margin: auto;
  }

  .skills__title {
    font-size: var(--normal-font-size);
  }

  .qualification__data {
    gap: 0.5rem;
  }

  .contact__content {
    margin-left: -8px;
  }
  .sinborde {
    margin-left: -8px;
  }
}

/* ---------- FOR SMALL DEVICES 391px ---------- */
@media screen and (min-width: 391px) and (max-width: 410px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .section__title {
    width: 250px;
    margin-bottom: 4rem;
  }

  .nav__list {
    column-gap: 0;
  }
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }

  .home__content {
    margin-top: -4rem;
    display: inline;
    text-align: center;
  }
  .home__data {
    margin-top: 0;
  }
  .home__subtitle {
    font-size: 6px;
    margin: auto;
    text-align: left;
    color: var(--text-color-light);
  }

  .subtitle {
    margin-top: 10px;
    margin-left: 155px;
  }

  .button-one {
    margin-left: -150px;
    margin-top: 20px;
    padding: 10px;
    font-size: 12px;
  }

  .console__container {
    font-family: var(--body-font);
    font-size: 20px;
    font-weight: var(--font-semi-bold);
    text-align: left;
    margin-left: 155px;
    width: 100vw;
  }

  .about__description {
    margin-left: -8px;
    font-size: var(--smaller-font-size);
  }
  .about__image {
    width: 180px;
    display: flex;
    margin: auto;
  }

  .skills__title {
    font-size: var(--normal-font-size);
  }

  .qualification__data {
    gap: 0.5rem;
  }

  .contact__content {
    margin-left: -8px;
  }
  .sinborde {
    margin-left: -8px;
  }
}

/* ---------- FOR SMALL DEVICES 411px ---------- */
@media screen and (min-width: 411px) and (max-width: 430px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .section__title {
    width: 250px;
    margin-bottom: 4rem;
  }

  .nav__list {
    column-gap: 0;
  }
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }

  .home__content {
    margin-top: -4rem;
    display: inline;
    text-align: center;
  }
  .home__data {
    margin-top: 0;
  }
  .home__subtitle {
    font-size: 6px;
    margin: auto;
    text-align: left;
    color: var(--text-color-light);
  }

  .subtitle {
    margin-top: 10px;
    margin-left: 155px;
  }

  .button-one {
    margin-left: -170px;
    margin-top: 20px;
    padding: 10px;
    font-size: 12px;
  }

  .console__container {
    font-family: var(--body-font);
    font-size: 20px;
    font-weight: var(--font-semi-bold);
    text-align: left;
    margin-left: 155px;
    width: 100vw;
  }

  .about__description {
    margin-left: -8px;
    font-size: var(--smaller-font-size);
  }
  .about__image {
    width: 180px;
    display: flex;
    margin: auto;
  }

  .skills__title {
    font-size: var(--normal-font-size);
  }

  .qualification__data {
    gap: 0.5rem;
  }

  .contact__content {
    margin-left: -8px;
  }
  .sinborde {
    margin-left: -8px;
  }
}

/* ---------- FOR SMALL DEVICES 431px ---------- */
@media screen and (min-width: 431px) and (max-width: 450px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .section__title {
    width: 250px;
    margin-bottom: 4rem;
  }

  .nav__list {
    column-gap: 0;
  }
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }

  .home__content {
    margin-top: -4rem;
    display: inline;
    text-align: center;
  }
  .home__data {
    margin-top: 0;
  }
  .home__subtitle {
    font-size: 6px;
    margin: auto;
    text-align: left;
    color: var(--text-color-light);
  }

  .subtitle {
    margin-top: 10px;
    margin-left: 155px;
  }

  .button-one {
    margin-left: -190px;
    margin-top: 20px;
    padding: 10px;
    font-size: 12px;
  }

  .console__container {
    font-family: var(--body-font);
    font-size: 20px;
    font-weight: var(--font-semi-bold);
    text-align: left;
    margin-left: 155px;
    width: 100vw;
  }

  .about__description {
    margin-left: -8px;
    font-size: var(--smaller-font-size);
  }
  .about__image {
    width: 180px;
    display: flex;
    margin: auto;
  }

  .skills__title {
    font-size: var(--normal-font-size);
  }

  .qualification__data {
    gap: 0.5rem;
  }

  .contact__content {
    margin-left: -8px;
  }
  .sinborde {
    margin-left: -8px;
  }
}

/* ---------- FOR SMALL DEVICES 480px ---------- */
@media screen and (min-width: 479px) {
  .section__title {
    margin-bottom: 4rem;
  }

  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__data {
    grid-column: initial;
    margin-left: 30px;
    margin-top: -60px;
  }
  .home__image {
    background-size: cover;
  }
  .home__subtitle {
    font-size: 8px;
    margin: auto;
    text-align: left;
    color: var(--text-color-light);
  }

  .subtitle {
    margin-top: 10px;
    margin-left: 255px;
  }

  .button-one {
    margin-left: -130px;
    margin-top: 20px;
    padding: 10px;
  }

  .console__container {
    font-family: var(--body-font);
    font-size: 25px;
    font-weight: var(--font-semi-bold);
    text-align: left;
    margin-left: 255px;
    width: 100vw;
  }

  .about__description {
    margin-left: -10px;
  }
  .about__image {
    display: flex;
    margin: auto;
  }

  .qualification__sections {
    display: grid;
    grid-template-columns: 0.7fr;
    justify-content: center;
  }

  .portfolio__container {
    margin-bottom: 4rem;
  }
  .portfolio__content > img {
    margin-top: 45px;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: -4px;
  }
  .footer__socials {
    justify-self: flex-end;
    margin-top: 0;
  }
}

/* ---------- FOR MEDIUM DEVICES 576px ---------- */
@media screen and (min-width: 576px) {
  .section__title {
    margin-bottom: 4rem;
  }

  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__data {
    margin-top: -80px;
  }
  .home__image {
    background-size: cover;
  }
  .home__subtitle {
    font-size: 11px;
    margin: auto;
  }

  .subtitle {
    margin-top: 15px;
    margin-left: 245px;
  }

  .button-one {
    margin-top: 30px;
    margin-left: -220px;
  }

  .console__container {
    font-family: var(--body-font);
    font-size: 35px;
    font-weight: var(--font-semi-bold);
    text-align: left;
    margin-left: 245px;
    width: 100vw;
  }

  .about__description {
    margin-left: -10px;
  }
  .about__image {
    display: flex;
    margin: auto;
  }

  .skills__container,
  .portfolio__content,
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .qualification__sections {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }

  .portfolio__container {
    margin-bottom: 4rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__socials {
    justify-self: flex-end;
    margin-top: 0;
  }
}

/* ---------- FOR MEDIUM DEVICES 768px ---------- */
@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .change-theme {
    margin: 0;
  }

  .section {
    padding: 6rem 3rem;
  }
  .section__subtitle {
    margin-bottom: 4rem;
  }
  .section__title {
    margin-bottom: 4rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header,
  .footer__container {
    padding: 0 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .nav__btns {
    margin-left: -30px;
  }
  .nav__close,
  .nav__icon,
  .nav__toggle {
    display: none;
  }
  .nav__link {
    font-size: small;
  }
  .nav__list {
    display: flex;
    column-gap: 1rem;
  }
  .nav__logo {
    margin-left: 1px;
  }
  .nav__menu {
    margin-left: 40px;
  }

  .home {
    padding: 0;
  }
  .home__container {
    row-gap: 5rem;
  }
  .home__content {
    column-gap: 2rem;
  }
  .home__data {
    margin-top: 0;
  }
  .home__image {
    margin: auto;
  }
  .home__subtitle {
    font-size: 10px;
  }

  .subtitle {
    margin: auto;
    margin-top: 10px;
    margin-left: 290px;
  }

  .button-one {
    margin-top: 30px;
    margin-left: -385px;
  }

  .console__container {
    font-family: var(--body-font);
    font-size: 40px;
    font-weight: var(--font-semi-bold);
    text-align: left;
    margin-left: 290px;
    width: 100vw;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .about__buttons {
    justify-content: center;
    padding-right: 30px;
  }
  .about__description {
    text-align: justify;
    padding-right: 40px;
  }
  .about__image {
    width: 270px;
    margin-top: 60px;
  }

  .qualification__button {
    margin: 0 var(--mb-1);
  }
  .qualification__tabs {
    justify-content: center;
  }
  .qualification__sections {
    grid-template-columns: 0.5fr;
  }

  .portfolio__content {
    align-items: center;
  }
  .portfolio__img {
    width: 320px;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__copy {
    margin-top: 4.5rem;
  }
  .footer__links {
    flex-direction: row;
    column-gap: 2rem;
  }
  .footer__socials {
    justify-self: flex-end;
  }
}

/* ---------- FOR LARGE DEVICES 1024px ---------- */
@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer__container {
    padding: 0;
  }

  .container {
    width: 90%;
  }

  .section__title {
    margin-bottom: 5rem;
  }

  .nav {
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .nav__btns {
    margin-left: 12px;
  }
  .nav__list {
    display: flex;
    column-gap: 2rem;
  }
  .nav__logo {
    margin-left: 10px;
  }
  .nav__menu {
    margin-left: auto;
  }

  .home__content {
    margin-left: 0;
  }
  .home__data {
    margin-top: 0;
  }
  .home__image {
    margin: auto;
  }
  .home__social {
    transform: translateX(-6rem);
  }
  .home__subtitle {
    margin: 0;
    font-size: 15px;
  }

  .subtitle {
    margin: auto;
  }

  .button-one {
    margin-top: 30px;
    margin-left: -930px;
  }

  .console__container {
    font-family: var(--body-font);
    font-size: 60px;
    font-weight: var(--font-semi-bold);
    text-align: left;
    margin: auto;
  }

  .about__buttons {
    padding-top: 5px;
    padding-right: 70px;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .about__description {
    text-align: justify;
    padding-right: 80px;
  }
  .about__image {
    width: 270px;
    margin-top: 50px;
    margin-left: 80px;
  }

  .portfolio__content {
    column-gap: 5rem;
  }
  .portfolio__description {
    text-align: justify;
  }
  .swiper-button-next {
    right: -3.5rem;
  }
  .swiper-button-prev {
    left: -3.5rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -6rem;
  }
  .swiper-portfolio-icon {
    font-size: 3.5rem;
  }

  .contact__form {
    width: 460px;
  }
  .contact__inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ---------- FOR LARGE DEVICES 1280px ---------- */
@media screen and (min-width: 1280px) {
  .header,
  .main,
  .footer__container {
    padding: 0;
  }

  .nav {
    max-width: 1280px;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .nav__btns {
    margin-left: 12px;
  }
  .nav__list {
    display: flex;
    column-gap: 2rem;
  }
  .nav__logo {
    margin-left: 10px;
  }
  .nav__menu {
    margin-left: auto;
  }

  .home__content {
    margin-left: 0;
  }
  .home__data {
    margin-top: 0;
    width: 100vw;
  }
  .home__image {
    margin: auto;
  }
  .home__social {
    transform: translateX(-6rem);
  }
  .home__subtitle {
    font-size: 15px;
  }

  .subtitle {
    margin: auto;
    margin-left: 20px;
  }

  .button-one {
    margin-top: 30px;
    margin-left: -1130px;
  }

  .console__container {
    font-family: var(--body-font);
    font-size: 60px;
    font-weight: var(--font-semi-bold);
    text-align: left;
    margin: auto;
    margin-left: 20px;
  }

  .section__title {
    margin-bottom: 5rem;
  }

  .about__buttons {
    padding-top: 5px;
    padding-right: 70px;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .about__description {
    text-align: justify;
    padding-right: 80px;
  }
  .about__image {
    width: 250px;
    margin-top: 10px;
    margin-left: 80px;
  }

  .portfolio__content {
    column-gap: 5rem;
  }
  .portfolio__description {
    text-align: justify;
  }
  .swiper-button-next {
    right: -3.5rem;
  }
  .swiper-button-prev {
    left: -3.5rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -6rem;
  }
  .swiper-portfolio-icon {
    font-size: 3.5rem;
  }

  .contact__form {
    width: 460px;
  }
  .contact__inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}
